body{
    background-color:#FFF6E6;
}
header{
    background-color:  #B8D3D1;
    position: fixed 100%;
    height: 100px;
    font-size: 80px;
    font-style: italic;
    margin-bottom: 10px;
    text-align: center;
    
}
nav{
    background-color: #B8D3D1;
    position: absolute;
    height: 25px;
    width: 100%;
    display: table;
    font-size: 20px;
    vertical-align: middle;
}

footer{
    background-color:  #B8D3D1;
    position: fixed;
    height: 25px;
    font-size: 20px;
    bottom: 0%;
    width: 100%;
    color: #C93B92;
}

h1{
    text-align: center;
    background-color:aliceblue;
    margin-top: 50px;
}

.website{
    border-radius: 10px;
    height: 250px;
    position: relative;
    top: 20px;
    left: 130px;
}

.phone{
    border-radius: 10px;
    height: 200px;
    position: relative;
    margin: 10px;
    left: 160px;
}

.apps{
    border-radius: 10px;
    height: 250px;
    position: relative;
    top: 30px;
    left: 130px;
}

.email{
    border-radius: 10px;
    height: 150px;
    position: relative;
    left: 200px;
}

.block{
    background-color:  #FFEDE6;
    border: solid #C93B92;
    border-radius: 15px;
    height: 390px;
    width: 680px;
    margin: 10px;
    position: relative;
    top: 200px;
}

.wrapper{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 20px;
    left: 20px;
    width: 100%;
}

p{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}

@media screen and (max-width: 800px) {
    .blocks{width: 100%; flex-direction: column;}
    p{flex-direction: column;}
    h1{flex-direction: column;}
}

@media screen and (min-width: 800px) {
    .blocks{width: 250px; margin: 8px; flex-wrap: wrap;}
    p{flex-direction: row; margin: 8px;}
    h1{flex-direction: row;}
}

